# Estimating Labor Market Returns to Education

In this exercise, we're going to use data from the [American Communities Survey (ACS)](https://usa.ipums.org/usa/acs.shtml) to study the relationship betwen educational attainment and wages. The ACS is a survey conducted by the United States Census Bureau (though it is not "The Census," which is a counting of every person in the United States that takes place every 10 years) to measure numerous features of the US population. The data we will be working with includes about 100 variables from the 2017 ACS survey, and is a 10% sample of the ACS (which itself is a 1% sample of the US population, so we're working with about a 0.1% sample of the United States). 

This data comes from [IPUMS](https://usa.ipums.org/usa/), which provides a very useful tool for getting subsets of major survey datasets, not just from the US, but [from government statistical agencies the world over](https://international.ipums.org/international-action/sample_details).

This is *real* data, meaning that you are being provided the data as it is provided by IPUMS. Documentation for all variables used in this data can be found [here](https://usa.ipums.org/usa-action/variables/group) (you can either search by variable name to figure out the meaning of a variable in this data, or search for something you want to see if a variable with the right name is in this data). 

Within this data is information on both the educational background and current earnings of a representative sample of Americans. We will now use this data to estimate the labor-market returns to graduating high school and college, and to learn something about the meaning of an educational degree.

## Gradescope Autograding

Please follow [all standard guidance](https://www.practicaldatascience.org/html/autograder_guidelines.html) for submitting this assignment to the Gradescope autograder, including storing your solutions in a dictionary called `results` and ensuring your notebook runs from the start to completion without any errors.

For this assignment, please name your file `exercise_dataframes.ipynb` before uploading.

You can check that you have answers for all questions in your `results` dictionary with this code:

```python
assert set(results.keys()) == {
    "ex2_num_obs",
    "ex3_num_vars",
    "ex8_updated_num_obs",
    "ex9_updated_num_obs",
    "ex11_grade12_income",
    "ex12_college_income",
    "ex12_college_income_pct",
    "ex14_high_school_dropout",
    "ex15_grade_9",
    "ex15_grade_10",
    "ex15_grade_11",
    "ex15_grade_12",
    "ex15_4_years_of_college",
    "ex15_graduate",
}
```

### Submission Limits

Please remember that you are **only allowed three submissions to the autograder.** Your last submission (if you submit 3 or fewer times), or your third submission (if you submit more than 3 times) will determine your grade Submissions that error out will **not** count against this total.

## Exercises

### Exercise 1

Data for these [exercises can be found here](https://github.com/nickeubank/MIDS_Data/tree/master/US_AmericanCommunitySurvey). 

Import `US_ACS_2017_10pct_sample.dta` into a pandas DataFrame (read it directly from a URL to help the autograder, please). 

This can be done with the command `pd.read_stata`, which will read in files created in the program Stata (and which uses the file suffix `.dta`). This is a format commonly used by social scientists.

In [1]:
# Importing Required Packages
import pandas as pd

In [2]:
# Load Data into Dataframe and initialize results Dictionary
df = pd.read_stata(
    "https://github.com/nickeubank/MIDS_Data/raw/master/US_AmericanCommunitySurvey/US_ACS_2017_10pct_sample.dta"
)
results = {}

## Getting to Know Your Data

When you get a new dataset like this, it's good to start by trying to get a feel for its contents and organization. Toy datasets you sometimes get in classes are often very small, and easy to look at, but this is a pretty large dataset, so you can't just open it up and get a good sense of it. Here are some ways to get to know your data.

### Exercise 2

How many observations are in your data? Store the answer in your `results` dictionary with the key `"ex2_num_obs"`.

In [3]:
# Find out number of Observations
results["ex2_num_obs"] = df.shape[0]
print("The Dataset has {} observations".format(results["ex2_num_obs"]))

The Dataset has 319004 observations

### Exercise 3

How many variables are in your data? Store the answer in your `results` dictionary with the key `"ex3_num_vars"`.

In [4]:
# Find out number of Variables
results["ex3_num_vars"] = df.shape[1]
print("The Dataset has {} variables".format(results["ex3_num_vars"]))

The Dataset has 104 variables

### Exercise 4

 Let's see what variables are in this dataset. First, try to see them all using the command:


```python
acs.columns
```

In [5]:
print("The variables in the Dataset are:\n {}".format(df.columns))

The variables in the Dataset are:
 Index(['year', 'datanum', 'serial', 'cbserial', 'numprec', 'subsamp', 'hhwt',
       'hhtype', 'cluster', 'adjust',
       ...
       'migcounty1', 'migmet131', 'vetdisab', 'diffrem', 'diffphys', 'diffmob',
       'diffcare', 'diffsens', 'diffeye', 'diffhear'],
      dtype='object', length=104)

As you will see, `python` doesn't like to print out all the different variables when there are this many in a dataset. 

To get everything printed out, we can loop over all the columns and print them one at a time with the command:

```
for c in acs.columns: print(c)
```

It's definitely a bit of a hack, but honestly a pretty useful one!

In [6]:
# Print all the columns
print("The variables in the Dataset are:")
for c in df.columns:
    print(c)

The variables in the Dataset are:
year
datanum
serial
cbserial
numprec
subsamp
hhwt
hhtype
cluster
adjust
cpi99
region
stateicp
statefip
countyicp
countyfip
metro
city
citypop
strata
gq
farm
ownershp
ownershpd
mortgage
mortgag2
mortamt1
mortamt2
respmode
pernum
cbpernum
perwt
slwt
famunit
sex
age
marst
birthyr
race
raced
hispan
hispand
bpl
bpld
citizen
yrnatur
yrimmig
language
languaged
speakeng
hcovany
hcovpriv
hinsemp
hinspur
hinstri
hcovpub
hinscaid
hinscare
hinsva
hinsihs
school
educ
educd
gradeatt
gradeattd
schltype
degfield
degfieldd
degfield2
degfield2d
empstat
empstatd
labforce
occ
ind
classwkr
classwkrd
looking
availble
inctot
ftotinc
incwage
incbus00
incss
incwelfr
incinvst
incretir
incsupp
incother
incearn
poverty
migrate1
migrate1d
migplac1
migcounty1
migmet131
vetdisab
diffrem
diffphys
diffmob
diffcare
diffsens
diffeye
diffhear

### Exercise 5

That's a *lot* of variables, and definitely more than we need. In general, life is easier when working with these kinds of huge datasets if you can narrow down the number of variables a little. In this exercise, we will be looking at the relationship between education and wages, we need variables for: 

- Age
- Income
- Education
- Employment status (is the person actually working)

These quantities of interest correspond to the following variables in our data: `age`, `inctot`, `educ`, and `empstat`. 

Subset your data to just those variables.

In [7]:
# Create a new subset Dataframe
df2 = df[["age", "inctot", "educ", "empstat"]]

### Exercise 6 

Now that we have a more manageable number of variables, it's often very useful to look at a handful of rows of your data. The easiest way to do this is probably the `.head()` method (which will show you the first five rows), or the `tail()` method, which will show you the last five rows. 

But to get a good sense of your data, it's often better to use the `sample()` command, which returns a random set of rows. As the first and last rows are sometimes not representative, a random set of rows can be very helpful. Try looking at a random sample of 20 rows (note: you don't have to run `.sample()` ten times to get ten rows. Look at the `.sample` help file if you're stuck.

In [8]:
# View a sample of the new Dataframe
df2.sample(20)

       age   inctot                       educ             empstat
163615  29        0                    grade 9  not in labor force
86116   15        0        grade 5, 6, 7, or 8                 n/a
302475  55    10300                   grade 12  not in labor force
85711   54   102000         4 years of college            employed
104285   4  9999999        n/a or no schooling                 n/a
283000  28    10000                    grade 9            employed
307849  26    45000         4 years of college            employed
77316   55    35000                   grade 12            employed
194020  79    12020        grade 5, 6, 7, or 8  not in labor force
122522  15     9400                   grade 10                 n/a
61740    4  9999999  nursery school to grade 4                 n/a
276828  66    24400                   grade 12  not in labor force
136097  94    81150          1 year of college  not in labor force
2635    26    10000                   grade 12            employed
288255  53    22800         4 years of college            employed
240791  79    13300                   grade 12  not in labor force
316731  65     9600        5+ years of college  not in labor force
219195  53        0         4 years of college  not in labor force
291059  57    40820                   grade 12            employed
104668  16      100                   grade 10  not in labor force

### Exercise 7

Do you see any immediate problems? What issues do you see? (Please do answer in markdown)

## Observations

There seem to be some observations which have data for Children, and their inctot values are default and their empstat has NAs.

### Exercise 8 

One problem is that many people seem to have incomes of $9,999,999. Moreover, people with those incomes seem to be very young children. 

What you are seeing is one method (a relatively old one) for representing missing data. In this case, the value 9999999 is being used as a **sentinel value** â€” a way to denote missing data that was used back in the day when there was no way to add a special data type for mossing data. In this case, it identifies observations where the person is too young to work, so their income value is missing. 

So let's begin by dropping anyone who has `inctot` equal to 9999999.

After dropping, how many observations do you have? Save your answer in your `results` dictionary under the key `"ex8_updated_num_obs"`

In [9]:
# Drop observations which have inctot = 9999999
df3 = df2[df2["inctot"] != 9999999]
results["ex8_updated_num_obs"] = df3.shape[0]
print(
    "After dropping the rows with inctot value as 9999999, the new DataFrame has {} observations".format(
        results["ex8_updated_num_obs"]
    )
)

After dropping the rows with inctot value as 9999999, the new DataFrame has 265103 observations

### Exercise 9

OK, the other potential problem is that our data includes lots of people who are unemployed and people who are not in the labor force (this means they not only don't have a job, but also aren't looking for a job). For this analysis, we want to focus on the wages of people who are currently employed. So subset the dataset for the people for whom `empstat` is equal to "employed". 

Note that our decision to only look at people who are employed impacts how we should interpret the relationship we estimate between education and income. Because we are only looking at employed people, we will be estimating the relationship between education and income *for people who are employed*. That means that if education affects the *likelihood* someone is employed, we won't capture that in this analysis.

(You might also want to run `.sample()` after this just to make sure you were successful in your subsetting).

After this subsetting, how many observations do you have? Save your answer in your `results` dictionary under the key `"ex9_updated_num_obs"`

In [10]:
# Keep only observations which have empstat as "employed"
df4 = df3[df3["empstat"] == "employed"]
results["ex9_updated_num_obs"] = df4.shape[0]

# verify the unrequired data is dropped
df4.sample(20)

       age  inctot                 educ   empstat
264670  52   90000   4 years of college  employed
154749  28   24000             grade 12  employed
44530   31   45000             grade 12  employed
14292   51   12000             grade 12  employed
167908  17    2000             grade 11  employed
7146    48   43200             grade 12  employed
41133   38   78400  5+ years of college  employed
317531  36   36000             grade 12  employed
61606   73   56100             grade 12  employed
178518  50   87000   4 years of college  employed
243962  38   58000             grade 12  employed
213537  52   32000             grade 12  employed
161319  38   44000    1 year of college  employed
179507  51   21000             grade 12  employed
259755  22    9700             grade 12  employed
212712  23   19880   2 years of college  employed
259677  32   25000    1 year of college  employed
313326  41  102800             grade 12  employed
246273  23   35000             grade 12  employed
277123  63   31800             grade 12  employed

In [11]:
# print result
print(
    "After keeping only the observations with empstat as employed, the new DataFrame has {} observations".format(
        results["ex9_updated_num_obs"]
    )
)

After keeping only the observations with empstat as employed, the new DataFrame has 148758 observations

### Exercise 10

Now let's turn to education. The `educ` variable seems to have a lot of discrete values. Let's see what values exist, and their distribution, using the `value_counts()` method. This is an *extremely* useful tool you'll use a lot! Try the following code (modified for the name of your dataset, of course):

```python
acs["educ"].value_counts()
```

In [12]:
df4["educ"].value_counts()

educ
grade 12                     47815
4 years of college           33174
1 year of college            22899
5+ years of college          20995
2 years of college           14077
grade 11                      2747
grade 5, 6, 7, or 8           2092
grade 10                      1910
n/a or no schooling           1291
grade 9                       1290
nursery school to grade 4      468
Name: count, dtype: int64

### Exercise 11

There are a lot of values in here, so let's just check a couple. What is the average value of `inctot` for people whose highest grade level is "grade 12" (in the US, that is someone who has graduated high school)?

Save your answer in your `results` dictionary under the key `"ex11_grade12_income"`.

In [13]:
# Mean inctot value for people with educ as "grade 12"
results["ex11_grade12_income"] = df4[df4["educ"] == "grade 12"]["inctot"].mean()
print(
    "The mean income value of people who graduated high school is: {} $".format(
        results["ex11_grade12_income"]
    )
)

The mean income value of people who graduated high school is: 38957.76068179442 $

### Exercise 12

What is the average income of someone who has completed an undergraduate degree but not done any postgraduate education ("4 years of college")? 

Save your answer in your `results` dictionary under the key `"ex12_college_income"`.

In percentage terms, how much does an employed college graduate earn as compared to someone who is only a high school graduate? Use the reference category that gives an answer above 100.

Store your answer in `"ex12_college_income_pct"`. Put your answer in percentage terms (so 100 implies they earn the same amount).

*Make sure to interpret your result in words when you print it out!*

In [14]:
results["ex12_college_income"] = df4[df4["educ"] == "4 years of college"][
    "inctot"
].mean()
print(
    "The average income of someone who has completed undergradute degree but not done any postgraduate education is: {} $".format(
        results["ex12_college_income"]
    )
)

The average income of someone who has completed undergradute degree but not done any postgraduate education is: 75485.05293301983 $

In [15]:
results["ex12_college_income_pct"] = (
    results["ex12_college_income"] / results["ex11_grade12_income"]
) * 100

print(
    "An employed college graduate earns approximately {}% the amount a high school gradute earns. \nThis implies that on an average, college graduates earn almost double of what high school graduates earns".format(
        results["ex12_college_income_pct"]
    )
)

An employed college graduate earns approximately 193.7612727527617% the amount a high school gradute earns.
This implies that on an average, college graduates earn almost double of what high school graduates earns


### Exercise 13
What does that suggest is the value of getting a college degree after graduating high school?

## Observations
The data suggests that getting a college degree has a huge value as it **almost doubles** the amount a person can earn as compared to having only a high school graduation.

### Exercise 14

What is the average income for someone who has not finished high school? What does that suggest is the value of a high school diploma? (Treat `n/a or no schooling` as having no formal schooling, not as missing).

**Hint:** You may find the [.isin()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) method to be really helpful here.

Save your answer in your `results` dictionary under the key `"ex14_high_school_dropout"`.

In [16]:
# define a variable to store all educ levels which we should consider as "dropouts"
dropout_levels = [
    "grade 11",
    "grade 5, 6, 7, or 8",
    "grade 10",
    "n/a or no schooling",
    "grade 9",
    "nursery school to grade 4",
]

results["ex14_high_school_dropout"] = df4[df4["educ"].isin(dropout_levels)][
    "inctot"
].mean()
print(
    "The average income of someone who has dropped out of high school is {} $".format(
        results["ex14_high_school_dropout"]
    )
)

print(
    "A high school graduate earns approximately {}% the amount a high school dropout earns. \nThis means that while a high school degree gives more value, in terms of proportion it is not as high as the value a undergradate degree gives ".format(
        (results["ex11_grade12_income"] / results["ex14_high_school_dropout"]) * 100
    )
)

The average income of someone who has dropped out of high school is 26226.45692998571 $
A high school graduate earns approximately 148.54374262522865% the amount a high school dropout earns.
This means that while a high school degree gives more value, in terms of proportion it is not as high as the value a undergradate degree gives

## Observation

### Exercise 15 

Complete the following table (storing values under the provided keys where listed):

- Average income for someone who only completed 9th grade (`ex15_grade_9`): _________
- Average income for someone who only completed 10th grade (`ex15_grade_10`): _________
- Average income for someone who only completed 11th grade (`ex15_grade_11`): _________
- Average income for someone who finished high school (12th grade) but never started college (`ex15_grade_12`): _________
- Average income for someone who completed 4 year of college (in the US, this corresponds to getting an undergraduate degree), but has no post-graduate education (no more than 4 years, `ex15_4_years_of_college`): _________
- Average income for someone who has some graduate education (more than 4 years, `ex15_graduate`): _________

In [17]:
# calculate avg incomes of different groups

# class 9
results["ex15_grade_9"] = df4[df4["educ"] == "grade 9"]["inctot"].mean()

# class 10
results["ex15_grade_10"] = df4[df4["educ"] == "grade 10"]["inctot"].mean()

# class 11
results["ex15_grade_11"] = df4[df4["educ"] == "grade 11"]["inctot"].mean()

# class 12, already calculated before, so directly assign
results["ex15_grade_12"] = results["ex11_grade12_income"]

# undergraduate, already calculated before, so directly assign
results["ex15_4_years_of_college"] = results["ex12_college_income"]

# graduate
results["ex15_graduate"] = df4[df4["educ"] == "5+ years of college"]["inctot"].mean()

print(
    "Average income for someone who only completed 9th grade: {} $".format(
        results["ex15_grade_9"]
    )
)
print(
    "Average income for someone who only completed 10th grade: {} $".format(
        results["ex15_grade_10"]
    )
)
print(
    "Average income for someone who only completed 11th grade: {} $".format(
        results["ex15_grade_11"]
    )
)
print(
    "Average income for someone who only completed 12th grade: {} $".format(
        results["ex15_grade_12"]
    )
)
print(
    "Average income for someone who completed 4 years of college: {} $".format(
        results["ex15_4_years_of_college"]
    )
)
print(
    "Average income for someone who has some graduate education: {} $".format(
        results["ex15_graduate"]
    )
)

Average income for someone who only completed 9th grade: 27171.907751937986 $
Average income for someone who only completed 10th grade: 23018.795811518325 $
Average income for someone who only completed 11th grade: 21541.68693119767 $
Average income for someone who only completed 12th grade: 38957.76068179442 $
Average income for someone who completed 4 years of college: 75485.05293301983 $
Average income for someone who has some graduate education: 110013.2213384139 $

### Exercise 16 

Why do you think there is no benefit from moving from grade 9 to grade 10, or grade 10 to grade 11, but there is a huge benefit to moving from grade 11 to graduating high school (grade 12)?

(Think carefully before reading ahead!)

## Observations
The income looks to decrease from grade 9 to 11 for each year but has a drasctic increase post grade 12. I think this might be happening cause post grade-12 we complete a "milestone" in education and have a formal degree to show for it which is not the case for the other grades.

## Take-aways

Congratulations! You just discovered "the sheepskin effect!": people with degrees tend to earn substantially more than people who have *almost* as much education, but don't have an actual degree. 

In economics, this is viewed as evidence that the reason employers pay people with high school degrees more than those without degree is *not* that they think those who graduated high school have learned specific, useful skills. If that were the case, we would expect employee earnings to rise with every year of high school, since in each year of high school we learn more. 

Instead, this suggests employees pay high school graduates more because they think *the kind of people* who can finish high school are the *kind of people* who are likely to succeed at their jobs. Finishing high school, in other words, isn't about accumulating specific knowledge; it's about showing that you *are the kind of person* who can rise to the challenge of finishing high school, also suggesting you are also the kind of person who can succeed as an employee. 

(Obviously, this does not tell us whether that is an *accurate* inference, just that that seems to be how employeers think.) 

In other words, in the eyes of employers, a high school degree is a *signal* about the kind of person you are, not certification that you've learned a specific set of skills (an idea that earned [Michael Spence](https://en.wikipedia.org/wiki/Michael_Spence) a Nobel Prize in Economics).

In [18]:
# Verification of result keys
assert set(results.keys()) == {
    "ex2_num_obs",
    "ex3_num_vars",
    "ex8_updated_num_obs",
    "ex9_updated_num_obs",
    "ex11_grade12_income",
    "ex12_college_income",
    "ex12_college_income_pct",
    "ex14_high_school_dropout",
    "ex15_grade_9",
    "ex15_grade_10",
    "ex15_grade_11",
    "ex15_grade_12",
    "ex15_4_years_of_college",
    "ex15_graduate",
}

In [20]:
for i in results.keys():
    print("{}:{}".format(i, results[i]))

ex2_num_obs:319004
ex3_num_vars:104
ex8_updated_num_obs:265103
ex9_updated_num_obs:148758
ex11_grade12_income:38957.76068179442
ex12_college_income:75485.05293301983
ex12_college_income_pct:193.7612727527617
ex14_high_school_dropout:26226.45692998571
ex15_grade_9:27171.907751937986
ex15_grade_10:23018.795811518325
ex15_grade_11:21541.68693119767
ex15_grade_12:38957.76068179442
ex15_4_years_of_college:75485.05293301983
ex15_graduate:110013.2213384139